@media only screen and (max-width:768px)
{
    html{
        font-size: 80%;
    }
    .list {
        display: none;
    }
    .gal1{
        flex-wrap: wrap;
    }
    .info{
        width:100%;
    }
    .icon
    {
        flex-wrap: wrap;
    }
    .information{
        width:100%;
    }
    .nav-text{
        width:80%;   
        text-align: center;
    }
    .togglearea{
        display: block;
        right:2rem;
        position: fixed;
    }
    #toggle:checked + .list{
        display: flex;   
    }
    .social{
        display: none;
    }
    .list ul{
        left:50%;
        position: fixed;
        top:52px;
        width:100%;
        box-shadow: 0px 3px 10px grey;
        height:50vh;
       
        background-color: white;
        color:black;
        transform: translateX(-50%);
        z-index: 1000;
        flex-direction: column;
        position: absolute;
        align-items: center;
        opacity: 1;
        transition: 0.2s linear;
    }
    #toggle:checked ~  .togglearea label::before{
         content:"&#10006;";
    }
    .list ul li a:hover{
        color:tomato;
        background-color: white;
    }
    .box{
        width:100%;
    }
    .box-item{
        width:100%;
        flex-direction: column;
    }
    footer{
        top:150% !important;
    }
    .form-row{
        flex-direction: column;
    }
    .forms,
    .map{
        width:100%;
        margin:1rem auto;
    }
    #form{
        width:100%;
    }
}
@media only screen and (max-width:650px){
   .nav-text{
       padding-top:30%;
   }
   .navbar{
       justify-content: space-between;
       padding-left:2rem ;
       padding-right: 2rem;
   }
   .header{
       height:80vh;
   }
   .nav-text{
       top:30%;
   }
}
@media only screen and (max-width:400px){
footer{
    top: 220% !important;;
}
#form{
    margin-top: 10rem;
}
}
@media only screen and (max-width:1000px){
    footer{
        top:150%;
    }
}
